<%- include('partials/header'); -%>

<!-- Cover -->
<div id="intro" class="row bg-dark p-5">
    <div class="col-lg-3">
        <img src="images/Patrick Dwyer BW.jpg" class="img-fluid" alt="Headshot of Patrick.">
    </div>
    <div class="col-lg-9">
        <div  class="bg-dark">
            <div  class="intro text-light" >
                
                <h1>Hi my name is Patrick and I am a web developer.</h1>
                <br>
                <h2>I have a passion for understanding and learning new things, and this passion led me down the path of becoming a developer.</h2>
                <br>
                <h2>Check out some of my past projects and project ideas.</h2>
                <br>
                <h2 class="pb-5">I will continue to update this website as I make and learn new things!</h2>
            </div>
        </div>
    </div>
    
</div>

<!-- Intro -->



<%- include('projects') -%>


<%- include('partials/footer'); -%>


   

