<%- include('partials/header'); -%>

<!-- Cover -->
<div id="cover"></div>
<img src="images/Patrick Dwyer BW.jpg" class="img-fluid" alt="Headshot of Patrick.">
</div>

<!-- Intro -->
<div id="intro" class="bg-dark">
    <div  class="container-fluid intro" >
        <br>
        <h1 class="pt-5">Hi my name is Patrick and I am a web developer.</h1>
        <br>
        <h2>I have a passion for understanding and learning new things, and this passion lead me down the path of becoming a developer.</h2>
        <br>
        <h2>Check out some of my past projects and project ideas.</h2>
        <br>
        <h2 class="pb-5">I will continue to update this website as I make and learn new things!</h2>
    </div>
</div>


<%- include('projects') -%>


<%- include('partials/footer'); -%>


   

